{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block title %}数据录入{% endblock %}
{% block body %}
<div class="ui three column stackable grid container" style="margin-top:10%">
        <div class="ui card column" id="prediction_div" style="margin-bottom: 0em;">
            <div class="content">
                <div class="header">
                    Prediction
                </div>
                <div class="description">
                    By clicking this, you will use the <b>Prediction</b> function
                </div>
            </div>
            <div class="extra content" style="text-align:right">
                <div class="ui one buttons">
                    <div class="ui basic green button">Go >></div>
                </div>
            </div>
        </div>
        <div class="ui column" style="width:20%"></div>
        <div class="ui card column" id="model_update_div" style="margin-top: 0em; padding-left:1em">
            <div class="content">
                <div class="header">
                    Data Enter
                </div>
                <div class="description">
                    By doing this, you will help the system to predict more precise.
                </div>
            </div>
            <div class="extra content" style="text-align:right">
                <div class="ui one buttons">
                    <div class="ui basic green button">Go >></div>
                </div>
            </div>
        </div>
</div>
<script>
        $('#prediction_div').click(function(){
            window.location.href='/learning/prediction'
        });
        $('#model_update_div').click(function(){
            window.location.href='/learning/model_update'
        });
</script>
{% endblock %}